*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-size: 14px;
   font-family: sans-serif; 
   flex-direction: column;
   align-items: center;
   display: flex;
   padding: 40px 20px;
}
h1{
    font-size: 32px;
    margin-bottom: 20px;
}
h1 a{
    text-decoration: none;
}
.find_id{
    width: 400px;
    padding: 40px;
    text-align: center;
}
.find_id h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.find_id_form>input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: lightgray;
}
.find_id_form>input::placeholder{
    color: gray;
}

a{
    text-decoration: none;
    color: black;
}
.error{
    color: red;
    font-size: 14px;
    margin-bottom: 16px;
    height: 17px;
}
.find_id_form>button{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 100px;
}