*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-size: 14px;
   font-family: sans-serif; 
   flex-direction: column;
   align-items: center;
   display: flex;
   padding: 40px 20px;
}
h2{
    font-size: 32px;
    margin-bottom: 30px;
}
form{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input[type="text"]{
    width: 100%;
    height: 36px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
}
textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
}

button{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 60px;
}
