<!doctype html>
    <html>
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="{{url_for('static', filename='mypage.css')}}">
        </head>
        <body>
            <h2>내 게시글</h2>
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{post.num}}</td>
                        <td><a href="{{url_for('read', num=post.num)}}">{{post.title}}</a></td>
                        <td>{{post.written_date.strftime('%Y-%m-%d')}}</td>
                        <td><a href="{{url_for('update', num=post.num)}}"><button type="submit">수정</button></a></td>
                        <td><form action="{{url_for('delete', num=post.num)}}" method="POST"><button type="submit">삭제</button></form></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <br>
            <a href="{{url_for('home')}}"><button type="submit">목록</button></a>
        </body>
    </html>